<header>
    <div class="container">
        <div id="branding">
            <h1>{{title}}</h1>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/cart/{{buyerCookie}}"><i class="fas fa-shopping-cart"></i> カートの中身を見る</a></li>
        </ul>
    </nav>
</header>
<section id="catalog">
    <div class="catalog">
        {{#each items}}
            <div class="catalog-item">
                <h3>{{this.name}}</h3>
                <div class="command">
                    <form method="POST" action="/cart/add">
                        <input type="hidden" name="cookie" value="{{@root.buyerCookie}}">
                        <input type="hidden" name="productId" value="{{this.productId}}">
                        <input type="hidden" name="name" value="{{this.name}}">
                        <input type="hidden" name="description" value="{{this.description}}">
                        <input type="hidden" name="price" value="{{this.price}}">
                        <input type="hidden" name="uom" value="{{this.uom}}">
                        <input type="submit" value="カートに追加">
                    </form>
                    <br/>
                </div>
                <img src="{{this.url}}">
                <p>{{this.description}}</p>
                <p>価格 {{this.price}}円</p>
           </div>
        {{/each}}
    </div>
</section>